{% extends "layout.html" %}
{% block body %}
  <div class="containers">
    {% for container in containers %}
       <div class="containerRow">
           <span class="container">{{ container.container }}</span><span class="status">{{ container.status }}</span>
       </div>
    {% else %}
       <li><em>Unbelievable.  No containers found</em></li>
    {% endfor %}
  </div>
  <div class="images">
    {% for image in images %}
       <div class="imagesRow">
           <span class="repository">{{ image.repository }}</span>
           <span class="tag">{{ image.imageId }}</span>
           <span class="imageId">{{ image.tag }}</span>
           <span class="created">{{ image.createdAt }}</span>
           <span class="imageSize">{{ image.size }}</span>
       </div>
    {% else %}
       <li><em>Unbelievable.  No images found</em></li>
  </div>
  {% endfor %}

{% endblock %}
